button{
    margin-top: 15px;
    height: 6vh;
    width: 400px;
    border-radius: 6px;
    border: 0;
    font-style: inter;
    font-weight: 500;
    background-color: rgb(21, 21, 114);
    color: antiquewhite;
    cursor: pointer;
}