.question1{
    margin-top: 30px;
    font-size: 14px;
    // font-family: inter;
    font-weight: 600;
    color: rgb(66, 64, 64);
}
input{
    margin-top: 6px;
    height: 6vh;
    width: 400px;
    border-radius: 6px;
    border: 1px lightgrey solid;
    font-style: inter;
    font-weight: 500;
    padding-left: 10px;
    font-weight: 400;
}
.input_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
.input_3{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 6px;
    border: 1px lightgrey solid;
    font-style: inter;
    color:rgb(66, 64, 64);
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    font-weight: 400;
    cursor: pointer;
}
.input_3:active{
    border: 1px blue solid;
}
span {
    margin-top: 30px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(17, 17, 17);
}
.input_4{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 150px;
    width: 150px;
    margin: 10px;
    border-radius: 6px;
    border: 1px blue solid;
    font-style: inter;
    color:rgb(66, 64, 64);
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    font-weight: 400;
    cursor: pointer;
}